---
import { Icon } from "astro-icon/components";

// import axios from "axios";
// let tareas = [];
// await axios
//     .get(`${import.meta.env.API_URL}processes/task-list`)
//     .then(function (response) {
//         tareas = response.data;
//     })
//     .catch(function (error) {
//         console.log(error);
//     });


const getStudentConvocation = [
  {
    id: "E-24",
    name: "Convocatoria 2024-01",
    creationDate: "2024-01-15",
    user_name: "Carlos Lopez",
    formation: "Pregrado",
    career: "Ingeniería de Sistemas",
    role: "Estudiante",
  },
  {
    id: "D-22",
    name: "Convocatoria 2024-02",
    creationDate: "2024-03-10",
    user_name: "Laura Peña",
    formation: "Postgrado",
    career: "Administración de Empresas",
    role: "Estudiante",
  },
  {
    id: "A-11",
    name: "Convocatoria 2024-03",
    creationDate: "2024-06-25",
    user_name: "Juan Martinez",
    formation: "Pregrado",
    career: "Derecho",
    role: "Docente",
  },
];


---
<div class="bg-white shadow-md rounded-md overflow-hidden mx-auto  max-w-full md:max-w-5xl" x-data="{ selectedrole: '' }">

  <div x-model="selectedrole" class="flex flex-col md:flex-row justify-center space-y-2 md:space-y-0 md:space-x-4 mb-10 ">
    <button
      class="px-4 py-2 md:px-6 border border-green-600 rounded-3xl transition"
      :class="{ 'bg-green-600 text-white': selectedrole === 'Estudiante' }"
      @click="selectedrole === 'Estudiante' ? selectedrole = '' : selectedrole = 'Estudiante'"
    >
      Estudiantes
    </button>

    <button
      class="px-4 py-2 md:px-6 border border-green-600 rounded-3xl transition"
      :class="{ 'bg-green-600 text-white': selectedrole === 'administrador' }"
      @click="selectedrole === 'administrador' ? selectedrole = '' : selectedrole = 'administrador'"
    >
      Administradores
    </button>

    <button
      class="px-4 py-2 md:px-6 border border-green-600 rounded-3xl transition"
      :class="{ 'bg-green-600 text-white': selectedrole === 'Docente' }"
      @click="selectedrole === 'Docente' ? selectedrole = '' : selectedrole = 'Docente'"
    >
      Docentes
    </button>
</div>


  <div x-effect="console.log(selectedrole)">
    <ul class="divide-y divide-gray-200">
      <template
        x-for=`(convocatoria, index) in ${JSON.stringify(getStudentConvocation)}`
        :key="convocatoria.id"
      >

      <template x-if="selectedrole === '' || selectedrole === convocatoria.role">
        <li class="flex flex-wrap items-center py-2 px-3 space-y-4">

          <div class="flex-shrink-0 mr-4">
            <img
              class="w-12 h-12 rounded-full object-cover"
              :src="`https://randomuser.me/api/portraits/men/${3 + index}.jpg`"
              alt="User avatar"
            />
          </div>
        
          <!-- User Information -->
          <div class="flex-initial md:w-1/5 mb-4 md:mb-0">
            <h3 class="text-gray-600 text-sm md:text-base" x-text="convocatoria.name"></h3>
            <p class="text-gray-800 text-sm md:text-base" x-text="convocatoria.user_name"></p>
            <p class="text-gray-600 text-sm md:text-base" x-text="convocatoria.formation"></p>
            <p class="text-gray-600 text-sm md:text-base" x-text="convocatoria.career"></p>
          </div>
        
          <!-- Steps Information -->
          <div class="flex-grow w-full md:w-auto flex flex-wrap items-center justify-around space-x-4 mx-auto">
            <!-- Step 1 -->
            <div class="relative text-center">
              <div class="flex items-center justify-center w-8 h-8 mx-auto mb-2 rounded-full bg-indigo-50 sm:w-10 sm:h-10 md:w-12 md:h-12">
                <Icon class="h-6 w-6 md:h-8 md:w-8" name="shared/check_circle" />
              </div>
              <h4 class="text-sm font-bold md:text-base">Documentacion</h4>
            </div>
        
            <!-- Transition arrow between steps -->
            <div class="flex items-center justify-center">
              <Icon class="h-4 w-4 md:h-6 md:w-6" name="shared/transition-arrow" />
            </div>
        
            <!-- Step 2 -->
            <div class="relative text-center">
              <div class="flex items-center justify-center w-8 h-8 mx-auto mb-2 rounded-full bg-indigo-50 sm:w-10 sm:h-10 md:w-12 md:h-12">
                <Icon class="h-6 w-6 md:h-8 md:w-8" name="shared/check_circle" />
              </div>
              <h4 class="text-sm font-bold md:text-base">Admision</h4>
            </div>
        
            <!-- Transition arrow between steps -->
            <div class="flex items-center justify-center">
              <Icon class="h-4 w-4 md:h-6 md:w-6" name="shared/transition-arrow" />
            </div>
        
            <!-- Step 3 -->
            <div class="relative text-center">
              <div class="flex items-center justify-center w-8 h-8 mx-auto mb-2 rounded-full bg-indigo-50 sm:w-10 sm:h-10 md:w-12 md:h-12">
                <Icon class="h-6 w-6 md:h-8 md:w-8" name="shared/error" />
              </div>
              <h4 class="text-sm font-bold md:text-base">Viaje</h4>
            </div>
        
            <!-- Transition arrow between steps -->
            <div class="flex items-center justify-center">
              <Icon class="h-4 w-4 md:h-6 md:w-6" name="shared/transition-arrow" />
            </div>
        
            <!-- Step 4 -->
            <div class="relative text-center">
              <div class="flex items-center justify-center w-8 h-8 mx-auto mb-2 rounded-full bg-indigo-50 sm:w-10 sm:h-10 md:w-12 md:h-12">
                <Icon class="h-6 w-6 md:h-8 md:w-8" name="shared/error" />
              </div>
              <h4 class="text-sm font-bold md:text-base">Notas</h4>
            </div>
          </div>
        </li>
        
        
      </template>
        
      </template>
    </ul>
  </div>
</div>





