---
import { Icon } from "astro-icon/components";
import MenuApplicative from "./MenuApplicative.astro";
import {db, Session, eq} from "astro:db";
const { menu } = Astro.props;
const id = Astro.cookies.get("id").value;
const data = await db.select().from(Session).where(eq(Session.id, id));
const primaryColor = data[0].primary_color
---
<nav class="flex flex-1 flex-col" x-data={`{activeMenuItem: ''}`}>
  <ul class="flex flex-1 flex-col gap-y-1"> 
        {
            menu.map((applicative) => (
                <MenuApplicative
                    name={applicative.name}
                    options={applicative.options}
                />
            ))
        }
  </ul>
</nav>
